/* Footer */
.footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 14px;
    border-top: 1px solid #444;
    font-weight: 500;
    width: 100%;
    margin-top: auto;
}

.footer p {
    margin: 0;
}