<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/feedback-page.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <title>Feedback Page</title>
</head>
<body>
    <!-- Navigation Bar Fragment -->
    <div th:insert="fragments/navbar :: navbar"></div>

    <!-- Main Container -->
    <div class="container">
        <div>
            <p class="notice"> Anonymous feedback - responses are unverified.</p>
        </div>

        <!-- Feedbacks -->
        <div class="feedback-card">
            <!--        Top section-->
            <div class="top-section">
                <p class="name" th:text="${feedback.feedbackFor}"></p>
                <p class="review-date" th:text="${#temporals.format(feedback.createdAt, 'dd MMM yy')}"></p>
                <p class="status-badge" th:classappend="${feedback.isPositive} ? 'positive' : ''" th:text="${feedback.isPositive} ? 'Positive' : 'Negative'"></p>
            </div>

            <!--        Mid-section-->
            <div class="mid-section">
                <h3 th:text="${feedback.title}"></h3>
                <p th:text="${feedback.message}"></p>
            </div>

        </div>
        
    </div>

    <!-- Footer Fragment -->
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>